// 変数定義用のファイル
$color-blue: #38AEF0;
$color-white: #FFFFFF;
@mixin member-name{
  display: inline-block;
  font-size: 16px;
  color: #434A54;
  font-weight: bold;
  padding-right: 10px;
}

@mixin form-content{
  background-color: #DDDDDD;
  height: 90px;
  width: 100%;
  padding: 20px 50px 20px 40px;
  box-sizing: border-box;
  display: flex;
}

@mixin form-message{
  height: 50px;
  width: 900px;
  padding: 0 10px;
  border: none;
  display:inline-block;
  box-sizing: border-box;
  float: left
}

@mixin form-image{
  padding-right: 10px;
  display: inline-block;
  height: 50px;
  background-color: #fff;
  width: 21.44px;
  vertical-align: top;
  position: relative;
  float: left
}

@mixin form-submit{
  background-color: $color-blue;
  color: #fff;
  margin-left: 15px;
  height: 50px;
  text-align: center;
  padding: 0 30px;
  box-sizing: border-box;
  float:right;
}

// flashメッセージ用の変数
$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;


